@font-face {
  font-family: montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: montserrat-black;
  src: url(../fonts/Montserrat-Black.ttf);
}

@font-face {
  font-family: montserrat-m;
  src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: montserrat-b;
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: montserrat-exb;
  src: url(../fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: montserrat-l;
  src: url(../fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: montserrat-exl;
  src: url(../fonts/Montserrat-ExtraLight.ttf);
}
@font-face {
  font-family: montserrat-sb;
  src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: montserrat-t;
  src: url(../fonts/Montserrat-Thin.ttf);
}
