@media (min-width: 481px) and (max-width: 768px) {

    .height_200 {
        height: 100%;
    }

    .mob {
        display: block;
    }

    .desk {
        display: none;
    }

    .section {
        width: 80%;
        margin-left: 10%;
    }

    /* MENU */
    .logo img {
        width: 140px;
        height: 40px;
        margin-top: 10px;
    }

    .menu {
        float: right;
        margin-right: 5%;
    }

    .menu h2 {
        display: none;
    }

    .menu img {
        margin-right: 5%;
    }

    .menu-open {
        margin-right: inherit;
    }

    .menu-open ul {
        margin-right: 1%;
        margin-top: 25px;
    }

    #menuop {
        height: 25px;
        margin-bottom: 16px;
    }

    #menuclose {
        margin-bottom: 16px;
    }

    /*banner home*/
    .banner-home {
        overflow: inherit;
    }

    .banner-home .section {
        width: 100%;
        margin-left: 0;
    }

    .banner-home {
        background-color: inherit;
    }

    .banner img {
        margin-top: 0px;
    }

    .banner-separator {
        position: absolute;
        width: 26%;
        top: 61vw;

    }

    .banner .slick-dots {

        bottom: 55px;

    }

    .banner-separator img {
        width: 100%;
    }

    /* manifesto */
    .manifesto .col-6 {
        width: 90%;
    }

    .manifesto {
        display: block;
        margin-top: 78px;
    }

    .manifesto h1 {
        font-size: 26px;
    }

    .manifesto h2 {
        font-size: 20px;
    }

    .manifesto p {
        font-size: 18px;
    }

    .mani-click {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .mani-img {
        margin-left: 0px;
        width: 105%;
        margin-top: 40px;
    }


    /* DNA */
    .dna {
        width: 95%;
    }

    .dn h1 {
        font-size: 24px;
        margin-top: 70px;
    }

    .card-dna {
        width: 95%;
        margin-left: 3%;
        ;
        height: 575px;
    }

    /* Ecossistema */

    .eco h2 {
        font-size: 24px;
        font-weight: 400;
    }

    .ecobg {
        background-image: none;
        background-color: #F5F5F5;
        max-width: 1900;
        overflow: visible;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .ecossistema {
        padding-bottom: 0px;
    }

    .ecossistema img {
        margin-bottom: 40px;
    }

    .rocket {
        bottom: -75px;
        display: block;
        top: inherit;
        left: 0;
        max-width: 200px;
    }

    .divisor-red {
        position: absolute;
        width: 40%;
        top: -329px;
        left: -5%;
    }

    .fbg {
        display: table;
        padding-bottom: 0px;
        margin-bottom: 50px;
    }

    img.icone_foguete {
        position: absolute;
        bottom: -74px;
        width: 113px;
    }

    .icone_foguete_mob {
        display: block;
        position: absolute;
        bottom: -62px;
        width: 113px;
        left: 5%;
    }

    .fim_eco {
        margin-bottom: 30px;
    }

    .logo_bg_eco {
        display: none;
    }


    /*Pilares*/

    img.logo_bg {
        display: none;
    }

    .seta_eco {
        float: left;
        width: 34vw;
        top: -7vw;
        left: 0;
    }

    .eco_mulher {
        top: 0px;
        width: 15vw;
    }

    .eco h2 {
        width: 62vw;
        /*        border:1px solid;*/
    }

    .conteudo_pilar {
        top: 45%;
    }

    .conteudo_pilar .icone_pilar {
        margin-bottom: 5px;
    }

    .conteudo_pilar .icone_foguete {
        position: relative;
    }

    .conteudo_pilar p {
        font-size: 2.73vw;
    }

    .conteudo_pilar h3 {
        font-size: 5.3vw;
    }

    .conteudo_pilar a {
        font-size: 3vw;
    }

    .pilares {
        float: left;
        margin-top: -43px !important;
    }

    .pilares:nth-child(odd) {
        float: left;
        margin-top: -72px !important;
    }

    .pilares:nth-child(even) {
        float: left;
        margin-top: -72px !important;
    }

    .pilares:nth-child(5) {

        float: right;
        margin-top: 0px !important;
        z-index: 5;
        /* display: none; */
    }

    .pilares:nth-child(6) {
        z-index: 4;
    }

    .pilares:nth-child(7) {
        z-index: 3;
    }

    .pilares:nth-child(8) {
        z-index: 2;
    }

    .pilares:nth-child(9) {
        z-index: 1;
    }

    .conteudo_pilar .bottom {
        padding: 10px;
        margin-top: 15px;
        width: 50%;
    }

    .eco {
        margin-right: 5%;
    }

    .conteudo_pilar .icone_pilar {
        width: 10vw;
    }

    /* Circles */


    .pilar1 {
        width: 64%;
        height: 81vw;
        float: none;
        max-height: 727px;
        margin-left: 15%;

    }

    .pilar2 {
        float: none;
    }

    .pilar3 {
        float: none;
    }

    .pilar4 {
        float: none;
    }

    .pilar5 {
        float: none;
        margin-bottom: 50px;
    }

    .pilartest {
        margin-top: -45%;
        width: 64%;
        height: 81vw;
        max-height: 727px;
        margin-left: 15%;
    }



    .pilar1 p {
        margin: auto;
        width: 75%;
        text-align: center;
        font-family: montserrat;
        font-size: 14px;
        color: #666666;
    }

    .pilar1 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30%;
        width: 11%;
        margin-bottom: 10px;
    }

    .pilartest.pilar2 .icon-p,
    .pilartest.pilar3 .icon-p,
    .pilartest.pilar4 .icon-p,
    .pilartest.pilar5 .icon-p {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30%;
        width: 13%;
        margin-bottom: 10px;
        padding-top: 34%;
    }


    .pilar1 .bottom {
        width: 60%;
        margin-left: 20%;
        text-align: center;
        margin-top: 2%;
    }

    .pilar4 .bottom {
        width: 60%;
        margin-left: 20%;
        text-align: center;
        margin-top: 2% !important;
    }

    .pilar1 .bottom a {
        text-decoration: none;
    }

    .pilar1 .button {
        font-family: montserrat-b;
        font-size: 20px;
        border: 1px solid #0B4279;
        color: #0B4279;
        border-radius: 32px;
        padding: 7px 0px 7px 0px;
    }

    .pilartest .bottom {
        width: 60%;
        margin-left: 20%;
        text-align: center;
        margin-top: 10%;
    }

    .pilartest .bottom a {
        text-decoration: none;
    }

    .pilartest .button {
        font-family: montserrat-b;
        font-size: 20px;
        border: 1px solid #0B4279;
        color: #0B4279;
        border-radius: 32px;
        padding: 7px 0px 7px 0px;
    }




    .pilar1 h3 {
        text-align: center;
        font-family: montserrat-b;
        font-size: 3vw;
        color: #0B4279;
        margin-bottom: 1%;
    }

    .pilar1 p {
        margin: auto;
        width: 75%;
        text-align: center;
        font-family: montserrat;
        font-size: 2vw;
        color: #666666;
    }

    .pilartest h3 {
        text-align: center;
        font-family: montserrat-b;
        font-size: 3vw;
        color: #0B4279;
        margin-bottom: 1%;


    }

    .pilartest p {
        margin: auto;
        width: 72%;
        text-align: center;
        font-family: montserrat;
        font-size: 2vw;
        color: #666666;
        line-height: 1.6
    }

    .pilar1 .bottom {
        width: 50%;
        margin-left: 25%;
        text-align: center;
        margin-top: 2vw;
    }

    .pilar4 .bottom {
        width: 60%;
        margin-left: 20%;
        text-align: center;
        margin-top: 2% !important;
    }

    .pilar1 .bottom a {
        text-decoration: none;
    }

    .pilar1 .button {
        font-family: montserrat-b;
        font-size: 2vw;
        border: 1px solid #0B4279;
        color: #0B4279;
        border-radius: 32px;
        padding: 7px 0px 7px 0px;
    }

    .pilartest .bottom {
        width: 50%;
        margin-left: 25%;
        text-align: center;
        margin-top: 5vw;
    }

    .pilartest .bottom a {
        text-decoration: none;
    }

    .pilartest .button {
        font-family: montserrat-b;
        font-size: 2vw;
        border: 1px solid #0B4279;
        color: #0B4279;
        border-radius: 32px;
        padding: 7px 0px 7px 0px;
    }

    /* Como Estudar */

    .study h1 {
        font-size: 26px;
    }

    .study h2 {
        font-size: 20px;
        padding-right: 5%;
    }

    .studies {
        margin-right: 5%;


    }

    .studies .slick-dotted.slick-slider {

        margin-bottom: 60px;

    }

    .studies .slick-dotted.slick-slider {

        padding-bottom: 0px !important;

    }

    .studies .slick-dots {
        margin-top: 0px;
        margin-bottom: -20px;
        padding-bottom: 0px;
    }

    .study-more {
        display: block;
    }

    .study-click {
        display: none;
    }

    .study-card .col-4 {
        widows: 100%
    }

    .study-card {
        width: 100%;
        -webkit-box-shadow: 0 0 10px #d7d7d7;
        box-shadow: 0 0 10px #d7d7d7;
        margin-top: 0px;
        /*    height: 180vw;*/
        position: relative;
        margin-bottom: 100px;
        margin-left: 1%;
        margin-right: 1%;
    }

    .study-card img {
        width: 100%;
    }

    .study-card h2 {
        padding-left: 5%;
        padding-right: 2%;
        font-size: 2.8vw;
    }

    .study-card li {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 2.5vw;
    }

    /*Depoimentos */

    .card {
        width: 95%;
    }

    .card p {
        margin-right: 10%;
        font-size: 2.5vw;
    }

    .card h2 {
        font-size: 3vw;
        margin: 23px;
        margin-bottom: 10px;

        font-weight: inherit;

        letter-spacing: 1px;
    }

    .card span {
        font-size: 16px;
    }


    .depo-background .section {
        margin-top: 80px;
        padding-bottom: 20px;
    }

    .depo-background h1 {
        font-size: 4vw;
        margin-top: 38px;
    }


    .depoimentos .slick-dots li button::before {
        color: #fff;
    }

    .depoimentos .slick-dots li.slick-active button::before {

        opacity: 1;
        color: #fff;

    }







    /* FOOTER */
    .footer {
        height: 356px;
    }

    .footer .mob {
        display: none;
    }

    .footer .tb {
        display: block;
    }


    .footer .social img {
        width: 13%;

    }

    .footer .info img {
        float: right;
        width: 70%;
        padding-left: 50%;
        margin-bottom: 7%;

    }

    .footer .social {
        margin-top: 12%;
        margin-bottom: 4%;
        width: 50%;
    }

    .footer .social-text {
        float: left;
        font-size: 12px;
        font-family: montserrat-l;
        line-height: 2.1;
        color: #fff;
        position: absolute;
        margin-left: 0px;
        margin-top: 2%;
    }

    .footer .info {

        float: right;
        width: 50%;
        text-align: end;
        margin-top: 10%;

    }

    .footer .info2 {
        float: left;
        text-align: left;
    }

    .footer .info2 p {
        font-size: 12px;
        font-family: montserrat-l;
        line-height: 2.1;
        color: #FFF;
    }

    .footer .info2 a {
        color: #fff;
        margin-top: 30px;
        display: block;

    }

    .footer .info2 .politica {
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        font-family: montserrat-b;


    }

    /* Internas */

    .banner-interna {
        max-height: 330px
    }

    .banner-interna img {
        height: 43vw;
    }

    .banner-interna .section {
        margin-left: 0px;
        width: 90%;


        padding-left: 5%;

        padding-right: 5%;
    }

    .banner-interna img {
        width: 100%;
    }

    .banner-interna h1 {
        font-size: 30px;
    }

    .banner-interna h2 {
        font-size: 20px;
    }

    .banner-interna h3 {
        font-size: 14px;
    }

    .bnr-ativo {
        top: 34vw;
        right: 0vw;
        width: 100%;
    }

    .card .bottom {
        position: absolute;
        bottom: 45px;
        background-color: #fff;
        width: 100%;
    }

    /* Inovação */

    .content3 .col-6 {
        width: 47.5%;
    }

    .content3 {
        display: block;
        margin-bottom: 30px;
        margin-top: 40px;
    }

    .content3 p {
        font-size: 18px;
        padding-right: 5%;
    }


    .inova-mb {
        /*background-image: url(../img/bg_infografico.png); */
        padding-top: 5%;

    }

    .circle_principal {
        width: 95%;
        height: 95vw;
        background-image: url(../img/back_base_graphic.png);
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 5%;
    }

    .circle-content {
        padding-left: 5%
    }

    .circle-content img {
        width: 30vw;
        margin-top: 11vw;
    }


    .circle-content h2 {
        font-family: montserrat-b;
        color: #666666;
        text-align: center;
        font-size: 34px;

    }

    .circle_white {
        width: 90%;
        height: 90vw;
        background-image: url(../img/back_grafico.png);
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 5%;
    }

    .circle-content-base {
        padding-left: 10%;
    }

    .circle-content-base img {
        width: 15vw;
        margin-top: 20vw;
        margin-top: 17vw;
    }


    .circle-content-base h2 {
        font-family: montserrat-m;
        color: #666666;
        margin-top: 5%;
        text-align: center;
        font-size: 22px;

    }

    .circle_white.a1 {
        margin-top: -37%;
    }

    .circle_white.a2,
    .circle_white.a3,
    .circle_white.a4,
    .circle_white.a5,
    .circle_white.a6,
    .circle_white.a7 {
        margin-top: -40%;
    }

    .circle_white.a4 .circle-content-base img {
        margin-top: 13vw;
    }

    .circle_white.a6 .circle-content-base img {
        margin-top: 10vw;
        width: 12vw;
    }

    /* Aprendizagem */

    .apr h1 {
        font-size: 24px;
        padding-top: 45px;
    }

    .apr-ativo {

        position: absolute;
        top: -45px;
        left: 0px;
        width: 40%;

    }

    .card-apr {
        width: 95%;
        margin-right: 5%;
        height: 80vw;
    }


    .card-apr h2 {
        font-size: 3vw;
    }

    .card-apr p {
        font-size: 2.5vw;
    }

    .card-apr .button {
        font-size: 2.5vw;
    }

    .aprendizagem .slick-dots {
        bottom: 80px;
    }

    .aprendizagem.slick-initialized.slick-slider.slick-dotted {
        margin-bottom: 0px;
    }

    /* Empreendedorismo */

    .con-card {
        width: 90%;
        margin-right: 2.5%;
        margin-left: 1%;
        margin-bottom: 4%;
    }

    .con-card h2 {
        font-size: 20px;
    }

    .con-card li {
        font-size: 18px;
    }

    .content1 .col-6 {
        width: 100%;
    }

    .content1 .col-12 {
        width: 100%;
        display: none;
    }

    .content1 {
        display: block;
        margin-top: 0px;
    }

    .content-img {
        margin-left: 0px;
        width: 100%;
    }

    .content1 h2 {
        font-size: 18px;
        padding-right: 5%;
    }

    .content1 p {
        font-size: 18px;
        padding-right: 5%;
    }




    /* Flexibilização */

    .content5 h2 {
        font-size: 26px;

        font-weight: 400;

        text-transform: uppercase;

        line-height: 1.6;
    }

    .content5 p {
        font-size: 20px;
    }

    .content5 .left h2 {
        margin-top: 30px;
        padding-left: 0%;
        padding-right: 0%;

    }

    .content5 .left p {

        padding-left: 0%;
        padding-right: 5%;

    }

    .content5 .left {
        margin-right: 5%;
        padding-bottom: 20px;

    }

    .content5 .left img {
        margin-bottom: 30px;
        float: none;
        margin: auto;
        margin-top: 100px;
        width: 75%;
        display: block;
    }


    .content5 .right h2 {

        margin-top: 40px;
        padding-left: 0%;
        padding-right: 0%;

    }

    .content5 .right p {

        padding-left: 0%;
        padding-right: 5%;
        margin-right: 10%;

    }

    .content5 .left {
        float: none;
    }

    .content5 .right {
        margin-top: 40px;
        margin-right: 5%;
        padding-bottom: 20px;
        float: none;

    }

    .content5 .right img {
        margin: auto;
        float: none;
        margin-top: 100px;
        width: 75%;
        display: block;
    }

    .tipo {
        width: 100%;
        -webkit-box-shadow: 0 0 10px #d7d7d7;
        box-shadow: 0 0 10px #d7d7d7;
        height: auto;
    }

    .tipo img {
        width: 100%;
    }

    .tipo h2,
    .tipo p {
        padding-left: 5%;
    }




    .content5 .tipo h2 {
        font-size: 3vw;
    }

    .content5 .tipo p {
        font-size: 2.5vw;
    }

    .content5 .tipos {
        float: none;
        width: 100%;
    }

    .content5 {
        margin-bottom: 40px;
    }

    .content5 .tipo {
        margin-top: 60px;
        margin-right: 1%;
        position: relative;
        height: 550px;
        margin-bottom: 10px;
    }


    /* Formação de Formadores */

    .form {
        width: 95%;
        padding-right: 5%;
    }

    .content5.form .left img {

        width: 90%;
        margin-left: 10%;
    }

    .content5.form .right img {
        width: 90%;
        margin-left: 10%;
        width: 95%;
    }

    .content5.form .right {
        float: none;
    }

    .content5.form .left {
        float: none;
    }

    .content5.form .left:last-child {

        margin-top: 40px;
        float: none;
        border-top: none;
    }

    .promover {
        display: block;
    }

    .prom h2 {
        font-family: montserrat-b;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 20px;
        padding-left: 0%;
        padding-right: 5%;
        color: #0B4279;
        text-align: left;
    }


    .promover .circle1,
    .promover .circle2,
    .promover .circle3 {

        border-radius: 50%;
        width: 75%;
        height: 60vw;
        position: relative;
        margin: 0;
        font-size: 20px;
    }

    .promover .inner-circle {

        border-radius: 50%;
        width: 90%;
        height: 85vw;
        margin-top: 5%;
        margin-left: 5%;
        position: absolute;

    }

    .promover .circle1 {

        margin-left: 12.5%;


    }

    .promover .circle2 {
        margin-left: 12.5%;
        margin-top: -25px;

    }

    .promover .circle3 {
        margin-left: 12.5%;
        margin-top: -25px;

    }

    .promover .circle1 h2 {
        font-family: montserrat;
        position: absolute;
        width: 35vw;
        top: 22vw;
        left: 10vw;
        font-size: 3.5vw;

    }

    .promover .circle2 h2 {
        font-family: montserrat;
        position: absolute;
        width: 30vw;
        top: 13vw;
        left: 12vw;
        font-size: 3.5vw;
        line-height: 1.5;

    }

    .promover .circle3 h2 {
        font-family: montserrat;
        position: absolute;
        width: 47vw;
        top: 8vw;
        left: 4vw;
        font-size: 3.5vw;
        line-height: 1.5;


    }

    .circles_emp h3 {
        margin-top: 5%;
        margin-bottom: 10%;
        margin-right: 10%;
        font-size: 5vw;
        text-align: left;

    }


    /* Protagonismo */

    .content3 .col-6 {
        width: 100%;
    }

    .content-img2 {
        width: 100%;
        margin-left: 0px;
    }

    .sli-card {
        display: block !important;
        width: 100%;
        margin-bottom: 50px;
    }

    .sli-img img {
        width: 100%;
        height: 100vw;
        display: block
    }

    .sli-img {
        max-height: inherit;
    }

    .sli-content {
        width: 90%;
        float: none;
        margin-left: 0px;
        padding-bottom: 20px;
    }

    .sli-content h2 {
        font-size: 20px;
        font-weight: 400;
        padding-right: 5%;
        padding-left: 5%;
    }

    .sli-content p {
        font-size: 18px;
        font-weight: 400;
        padding-right: 5%;
        padding-left: 5%;
    }

    .tb {
        display: block;
    }

    .banner-home .mob {
        display: none;
    }

    .mob .banner-interna {
        display: none !important;
    }

    .desk .banner-interna {
        display: none;
    }

    .tb .banner-interna {
        display: block;
    }

    .tb .banner-interna .section {
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
    }

    .banner-interna .bnr-ativo {
        height: auto;
    }


}

@media (min-width: 769px) and (max-width: 1143px) {
    .height_200 {
        height: 100%;
    }

    .section {
        width: 95%;
        margin: auto;
    }

    .footer .social img {
        margin-right: 1vw;
    }

    .footer .info p {
        font-size: 1.1vw;
    }

    .footer .social-text {
        font-size: 1.1vw;
    }


    .col-4 {
        width: 33%;
    }

    .col-6 {
        width: inherit;
    }


    .card-dna {
        width: 95%;
    }


    .studies {
        width: 100%;
    }

    .mani-img {
        margin-left: 25%;
        width: 75%;
    }

    .study-card {
        margin-right: 1%;
        margin-left: 1%
    }

    .study-card img {
        width: 100%;
    }

    .study-card h2 {
        font-size: 3vw;
    }

    .study-card li {
        font-size: 2.5vw;
    }

    .study-click img {
        width: inherit;
    }

    .height_200 {
        height: 30vw;
    }


    .bnr-ativo {
        right: 0px;
    }

    .aprendizagem.slick-dotted.slick-slider {
        margin-bottom: 0px;
    }

    .aprendizagem .slick-dots {
        bottom: 20px;
    }

    .content5 .tipo h2 {
        font-size: 2.5vw
    }

    .content5 .tipo {
        margin-right: 1%;
    }

    .tipo img {
        width: 100%;
        height: auto;
    }


    .banner img {
        margin-bottom: 70px;
    }

    .banner-separator {
        width: 30%;
        position: absolute;
        top: 91%;
        right: 1%;
    }

    .banner-separator img {
        width: 100%;
    }

    .banner-logo {
        width: 18%;
        position: absolute;
        top: 76%;
        left: 18%;
    }

    .banner-logo img {
        width: 100%;
    }



    .promover .circle1,
    .promover .circle2,
    .promover .circle3 {
        background-image: url(../img/bg_circle_green.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        width: 33vw;
        height: 33vw;
        position: relative;
    }



    .promover .circle1 {
        margin-right: -1.5%;
    }

    .promover .circle3 {
        margin-left: -1.5%;
    }


    .promover .circle1 h2 {
        position: absolute;
        width: 24vw;
        top: 13vw;
        left: 4.5vw;
    }

    .promover .circle2 h2 {
        position: absolute;
        width: 20vw;
        top: 8vw;
        left: 6.5vw;
    }

    .promover .circle3 h2 {
        position: absolute;
        width: 24vw;
        top: 6vw;
        left: 4.5vw;
    }

    .promover .inner-circle h2 {
        font-size: 2.29vw;
    }

    .sli-content {
        margin-left: 5%;
    }

    .sli-content h2 {
        font-size: 2vw;
        padding-right: 10%;
    }

    .sli-content p {
        font-size: 2vw;
        padding-right: 10%;
    }


    .seta_eco {
        position: absolute;
        top: -10vw;
        left: -3vw;
    }

    img.seta_eco {
        width: 48%;
    }

    .apr-ativo {
        position: absolute;
        top: -10vw;
        left: -3vw;
        width: 49%;
    }

}

@media (min-width:1144px) and (max-width: 1920px) {

    .banner-home .section {
        position: relative;
    }

    .banner-separator {
        width: 30%;
        position: absolute;
        top: 91%;
        right: 1%;
    }

    .banner-separator img {
        width: 100%;
    }

    .banner-logo {
        width: 18%;
        position: absolute;
        top: 76%;
        left: 18%;
    }

    .banner-logo img {
        width: 100%;
    }

    img.seta_eco {
        width: 48%;
    }

    .seta_eco {
        position: absolute;
        top: -125px;
        left: -3%;
    }

}