html {}

* {
    margin: 0;
    padding: 0;
}

.col-1 {
    width: 66px;
}

.col-2 {
    width: 164px;
}

.col-3 {
    width: 262px;
}

.col-4 {
    width: 360px;
}

.col-5 {
    width: 458px;
}

.col-6 {
    width: 556px;
}

.col-7 {
    width: 654px;
}

.col-8 {
    width: 752px;
}

.col-9 {
    width: 850px;
}

.col-10 {
    width: 948px;
}

.col-11 {
    width: 1046px;
}

.col-12 {
    width: 1144px;
}

.desk {
    display: block;
}

.mob {
    display: none;
}

.tb {
    display: none;
}

.slick-slide {
    outline: none !important;
}

/* Menu */
.nav {
    width: 100%;
    background-color: rgba(11, 66, 121, 1);
    transition: 0.5s;
    position: absolute;
    z-index: 1;
    transition: transform 300ms;

}

.nav.hide {
    transform: translateY(-80px);
}


.menu {
    display: inline-flex;
    float: right;
    margin-top: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.menu img {
    margin-left: 20px;
    margin-right: 10px;
}

.menu h2 {
    font-family: montserrat-b;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.menu-open {
    text-align: end;
    color: #fff;
    position: relative;
    margin-right: 10px;
}

#menu-close {
    display: none;
    height: 26px;
    margin-top: 22px;
    float: right;
    margin-right: 15px;
    margin-left: 14px;
    cursor: pointer;
}

#menuop {
    display: block;
    transition: 0.5s;
    height: 22px;
}

.menu-open a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    padding: 3px 0px 4px 20px;
    border-radius: 25px;
}

.menu-open ul li a:hover {
    background-color: #07294B;
    transition: 0.5s;
    border-radius: 25px;

}

.menu-open ul {
    right: 10px;
    position: relative;
    margin-bottom: 60px;
}

.menu-open li {
    list-style: none;
    margin-top: 20px;
    font-family: montserrat;
    font-size: 16px;

    transition: 0.5s;
    border-radius: 25px;
}

.menu-open img {
    margin-left: 20px;
    border: 2px #fff solid;
    border-radius: 50%;
    padding: 6px;
    background-color: #3c6894;
    vertical-align: middle;
}


.logo {
    display: inline-flex;
}

.logo img {
    width: 234px;
    height: 56px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section {
    margin: auto;
    width: 1144px;
    position: relative;
}

/* Banner Home */
.banner-home {
    background-color: #F2F8FF;
    width: 100%;
    position: relative;
}

.banner img {
    margin-top: 150px;
    margin-bottom: 15px;
}



.banner-logo {
    position: absolute;
    top: 79%;
    left: 27%;
}

.banner-separator {
    position: absolute;
    top: 83%;
    right: 8.4%;
}

.slick-dotted.slick-slider {
    padding-bottom: 15px !important;
}


.banner .slick-dots {
    bottom: 25px;
}

.banner .slick-dots li {
    margin: 0;
    list-style: none !important;
}

.banner .slick-dots li button {
    border-radius: 50%;
}

/* Manifesto */
.manifesto {
    margin-top: 150px;
    width: 100%;
    display: inline-flex;
    position: relative;
}

.manifesto h1 {
    font-family: montserrat-b;
    font-size: 40px;
    color: #0B4279;
    margin-bottom: 30px;

}

.manifesto h2 {
    font-family: montserrat-b;
    font-size: 20px;
    color: #666666;
    margin-bottom: 30px;
    line-height: 1.6;
}

.manifesto p {
    font-family: montserrat;
    font-size: 20px;
    color: #666666;
    margin-bottom: 30px;
    padding-right: 50px;
    line-height: 1.4;

}


.mani-click {
    cursor: pointer;
    font-family: montserrat-b;
    font-size: 26px;
    text-decoration: underline;
    color: #F89826;
    bottom: 0px;

}

.mani-more {
    display: none;
}

.mani-img {
    margin-left: 64px;

}


/* Nosso DNA */

.dn h1 {
    font-family: montserrat-b;
    font-size: 40px;
    color: #0B4279;
    margin-top: 115px;
    margin-bottom: 10px;
}



.slick-prev-dna,
.slick-next-dna {
    outline: none !important;
    overflow: hidden;
    position: absolute;
    top: 4px;
    width: 48px;
    height: 48px;
    color: #194390;
    background: none;
    border: 0px solid #194390;
    border-radius: 100%;
    margin-right: 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

@media screen and (prefers-reduced-motion: reduce) {

    .slick-prev-dna,
    .slick-next-dna {
        -webkit-transition: none;
        transition: none;
    }
}

.slick-prev-dna.slick-disabled,
.slick-next-dna.slick-disabled {
    cursor: default;
    opacity: 0.3;
}

.slick-prev-dna:hover:not(.slick-disabled) i,
.slick-next-dna:hover:not(.slick-disabled) i {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
}

.slick-prev i,
.slick-next i {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

@media screen and (prefers-reduced-motion: reduce) {

    .slick-prev-dna i,
    .slick-next-dna i {
        -webkit-transition: none;
        transition: none;
    }
}

.slick-prev-dna {
    margin-top: -85px;
    right: 70px;
}

.slick-next-dna {
    margin-top: -85px;
    right: 7px;
}

.card-dna {
    background-color: #fff;
    height: 500px;
    width: 360px;
    -webkit-box-shadow: 0 0 10px #d7d7d7;
    box-shadow: 0 0 10px #d7d7d7;
    margin-bottom: 120px;
    margin-top: 5px;
    margin-left: 3px;
}

.card-dna p {
    font-family: montserrat;
    font-size: 20px;
    font-weight: 400;
    color: #666666;
    margin: 25px;
    line-height: 1.6;
}


.card-dna h2 {
    font-family: montserrat-b;
    font-size: 24px;
    color: #C61F40;
    margin: 23px;
}

.card-dna img {
    width: 215px;
    height: 215px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: auto;
    display: block;
    z-index: 2;
    position: relative;

}


/* Ecossistema */
img.icone_foguete {
    position: absolute;
    top: 36%;
    left: -11%;
}

.ecosistema .section {
    position: relative;
}

.fim_eco {
    clear: left;
}

.ecossistema {
    margin: auto;
    width: 100%;
    position: relative;
    padding-bottom: 170px;

}

img.logo_bg_eco {
    position: absolute;
    bottom: -121px;
    right: 0;

    width: 50%;
    height: auto;
}

.ecobg {
    background-image: url(../img/base-temp.png);
    max-width: 1900;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

.fbg {
    content: '';
    clear: both;
    display: table;
    padding-bottom: 150px;
}

.eco h2 {
    font-family: montserrat-b;
    font-size: 2.8vw;
    color: #0B4279;
    padding-bottom: 60px;
    padding-top: 121px;
}

.woman {
    width: 14%;
    position: absolute;
    top: -340px;
    right: 0%;
    display: none;
}

.rocket {
    width: 20%;
    position: absolute;
    top: 650px;
    left: -20%;
    display: none;
}

.star {
    width: 73%;
    position: absolute;
    bottom: -170px;
    right: -54%;
    display: none;
}

.divisor-red {
    position: absolute;
    width: 40%;
    top: -10.3%;
    left: -13%;
}

.pilartest {
    //width: 63%;
    margin-top: -20%;
    // height: 600px; 
    width: 62%;
    height: 37vw;
    max-height: 727px;
}


.pilar1 {
    width: 62%;
    height: 37vw;
    //width: 63%;
    //height: 600px;  
    background: url("../img/pilar/Pilar_01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    float: left;
    max-height: 727px;
}

.pilar1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
}

.pilartest img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
}

.pilar1 h3 {
    text-align: center;
    font-family: montserrat-b;
    font-size: 30px;
    color: #0B4279;
    margin-bottom: 1%;
}

.pilartest h3 {
    text-align: center;
    font-family: montserrat-b;
    font-size: 30px;
    color: #0B4279;
    margin-bottom: 1%;
}

.pilar1 p {
    margin: auto;
    width: 75%;
    text-align: center;
    font-family: montserrat;
    font-size: 20px;
    color: #666666;
}

.pilartest p {
    margin: auto;
    width: 75%;
    text-align: center;
    font-family: montserrat;
    font-size: 20px;
    color: #666666;
}


.pilar2 {
    background: url("/img/pilar/Pilar_02.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    float: right;

}

.pilar3 {
    background: url("/img/pilar/Pilar_03.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    float: left;
}

.pilar4 {
    background: url("/img/pilar/Pilar_04.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    float: right;
}

.pilar5 {
    background: url("/img/pilar/Pilar_05.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    float: left;
}

.pilar1 .bottom {
    width: 36%;
    margin-left: 32%;
    text-align: center;
    margin-top: 2%;
}

.pilar4 .bottom {
    width: 60%;
    margin-left: 20%;
    text-align: center;
    margin-top: 2% !important;
}

.pilar1 .bottom a {
    text-decoration: none;
}

.pilar1 .button {
    font-family: montserrat-b;
    font-size: 20px;
    border: 1px solid #0B4279;
    color: #0B4279;
    border-radius: 32px;
    padding: 7px 0px 7px 0px;
}

.pilartest .bottom {
    width: 36%;
    margin-left: 32%;
    text-align: center;
    margin-top: 10%;
}

.pilartest .bottom a {
    text-decoration: none;
}

.pilartest .button {
    font-family: montserrat-b;
    font-size: 20px;
    border: 1px solid #0B4279;
    color: #0B4279;
    border-radius: 32px;
    padding: 7px 0px 7px 0px;
}

/*Pilares*/
.icone_foguete {
    left: -500px;
    position: absolute;
    top: 33%;
}

img.logo_bg {
    position: absolute;
    bottom: -146px;
    right: -435px;
    z-index: 0;
}

.seta_eco {
    position: absolute;
    top: -145px;
    left: -23%;
}

.eco_mulher {
    float: right;
    top: -54px;
    position: absolute;
    right: 1%;
    ;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.pilares {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
}

.pilares .base_pilar {
    opacity: 0;
}

.pilares:nth-child(odd) {
    float: left;
    margin-top: -285px !important;
}

.pilares:nth-child(even) {
    float: right;
    margin-top: -285px !important;
}

.pilares:nth-child(5) {
    float: left;
    margin-top: 0px !important;
    z-index: 5;
}

.pilares:nth-child(6) {
    z-index: 4;
}

.pilares:nth-child(7) {
    z-index: 3;
}

.pilares:nth-child(8) {
    z-index: 2;
}

.pilares:nth-child(9) {
    z-index: 1;
}

.conteudo_pilar {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 77%;
    z-index: 1;

}

.conteudo_pilar h3 {
    text-align: center;
    font-family: montserrat-b;
    font-size: 3.45vw;
    color: #0B4279;
    margin-bottom: 1%;
    font-size: 36px;
}

.conteudo_pilar p {
    margin: auto;
    width: 100%;
    text-align: center;
    font-family: montserrat;
    font-size: 1.4vw;
    color: #666666;
    font-size: 20px;

}

.conteudo_pilar .bottom {
    width: 36%;
    margin-left: 32%;
    text-align: center;
    margin-top: 2%;
}

.conteudo_pilar .bottom {
    margin-top: 20px;
    width: 50%;
    margin: auto;
    border: 1px solid #0B4279;
    padding: 15px;
    border-radius: 50px;
    color: #0B4279;
    cursor: pointer;
    margin-top: 30px;
    min-width: 200px;
}

.conteudo_pilar a {
    text-decoration: none;
    color: #0B4279;
    font-size: 1.35vw;
    font-family: montserrat-b;
    font-size: 26px;
}

.conteudo_pilar .icone_pilar {
    width: 7vw;
}

.conteudo_pilar .icone_foguete {
    position: absolute;
    top: 33%;
    left: 5%;
}



/* Como quer Estudar? */

.study {
    margin-top: 80px;
    clear: both;
}

.study h1 {
    font-family: montserrat-b;
    font-size: 40px;
    font-weight: 700px;
    color: #0B4279;
    margin-bottom: 30px;

}

.study h2 {
    font-family: montserrat-b;
    font-size: 20px;
    font-weight: 700;
    color: #666666;
    padding-right: 100px;
    margin-bottom: 40px;

}

.studies {
    display: inline-flex;
    margin: auto;
}

.study-card {
    margin-top: 60px;
    margin-right: 32px;
    position: relative;
    height: auto;
    margin-bottom: 100px;
}



.study-card h2 {
    font-family: montserrat-b;
    font-size: 30px;
    font-weight: 700;
    color: #C61F40;
    margin-top: 30px;
    text-transform: uppercase;


}

.study-card li {
    font-family: montserrat;
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    list-style-position: inside;
    margin-top: 25px;
    margin-bottom: 25px;
    bottom: 0px;


}

.study-card p li {
    padding-left: -20px;
}

.study-click {
    cursor: pointer;
    font-family: montserrat-b;
    font-size: 26px;
    text-decoration: underline;
    color: #F89826;
    bottom: 0px;
}

.study-more {
    display: none;
}

/* Fim de Como Estudar */


/* Depoimentos */

.depo-background {
    width: 100%;
    background-image: url(../img/depoimentos.png);
    background-size: cover;
    background-position: top center;
    display: none;
}

.depoimentos {
    display: none;
    margin-bottom: 180px;

}

.depo-background .section {
    overflow: hidden;
    display: none;
}

.depo-background h1 {
    font-family: montserrat-exb;
    font-size: 40px;
    color: #fff;
    margin-top: 115px;
    margin-bottom: 10px;
}



.slick-prev,
.slick-next {
    outline: none !important;
    overflow: hidden;
    position: absolute;
    top: 4px;
    width: 48px;
    height: 48px;
    color: #194390;
    background: none;
    border: 0px solid #194390;
    border-radius: 100%;
    margin-right: 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

@media screen and (prefers-reduced-motion: reduce) {

    .slick-prev,
    .slick-next {
        -webkit-transition: none;
        transition: none;
    }
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
    cursor: default;
    opacity: 0.3;
}

.slick-prev:hover:not(.slick-disabled) i,
.slick-next:hover:not(.slick-disabled) i {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
}

.slick-prev i,
.slick-next i {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

@media screen and (prefers-reduced-motion: reduce) {

    .slick-prev i,
    .slick-next i {
        -webkit-transition: none;
        transition: none;
    }
}

.slick-prev {
    margin-top: -85px;
    right: 70px;
}

.slick-next {
    margin-top: -85px;
    right: 7px;
}

.card {
    background-color: #fff;
    height: 679px;
    width: 360px;
    position: relative;
}

.card p {
    font-family: montserrat;
    font-size: 20px;
    font-weight: 400;
    color: #666666;
    margin: 25px;
    line-height: 1.6;
}

.card p span {
    font-size: 46px;
    line-height: 0;
    color: #666;
    margin: 0;
}

.card h2 {
    font-family: montserrat-b;
    font-size: 26px;
    color: #0B4279;
    margin: 23px;
}

.card span {
    font-family: montserrat;
    font-size: 20px;
    font-weight: 400;
    color: #0B4279;
    margin: 23px;
}

.card img {
    width: 140px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: auto;
    display: block;
}

.card .bottom {
    position: absolute;
    bottom: 45px;
}










/* Footer */

.footer {
    height: 352px;
    background-color: #0B4279;
}

.footer .info {
    float: right;
    text-align: end;
    margin-top: 100px;
}

.footer .info p {
    font-size: 12px;
    font-family: montserrat-l;
    line-height: 2.1;
    color: #FFF;
}

.footer .info a {
    color: #fff;
    margin-top: 30px;
    display: block;

}

.footer .info .politica {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-family: montserrat-b;


}

.footer .social {
    float: left;
    margin-top: 150px;
}

.footer .social img {
    margin-right: 20px;
}

.footer .social-text {
    float: right;
    font-size: 12px;
    font-family: montserrat-l;
    line-height: 2.1;

    color: #fff;
    margin-left: 10px;

}




/* Internas */





.banner-interna {
    text-align: center;
    position: relative;
}

.banner-interna img {
    width: 100%;
}

.banner-interna .section {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.banner-interna h1 {

    font-family: montserrat-b;
    font-size: 4vw;
    color: #fff;
}

.banner-interna h2 {

    font-family: montserrat;
    font-size: 2vw;
    color: #fff;

}

.banner-interna h3 {
    font-family: montserrat;
    font-size: 20px;
    margin-top: 1vw;
    color: #fff;
}

.bnr-ativo {
    position: absolute;
    top: 23vw;
    width: 40vw !important;
    right: 10vw;

}

.apr-bg {
    background-color: #F5F5F5;
}

.apr-ativo {
    position: absolute;
    top: -7vw;
    width: 30vw;
    left: -1vw;
}

.apr h1 {
    font-family: montserrat-b;
    font-size: 40px;
    color: #0B4279;
    padding-top: 115px;
    margin-bottom: 10px;
}

.apr {
    position: relative;
    height: auto !important;
}

.slick-prev-apr,
.slick-next-apr {
    outline: none !important;
    overflow: hidden;
    position: absolute;
    top: 4px;
    width: 48px;
    height: 48px;
    color: #194390;
    background: none;
    border: 0px solid #194390;
    border-radius: 100%;
    margin-right: 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

@media screen and (prefers-reduced-motion: reduce) {

    .slick-prev-apr,
    .slick-next-apr {
        -webkit-transition: none;
        transition: none;
    }
}

.slick-prev-apr.slick-disabled,
.slick-next-apr.slick-disabled {
    cursor: default;
    opacity: 0.3;
}

.slick-prev-apr:hover:not(.slick-disabled) i,
.slick-next-apr:hover:not(.slick-disabled) i {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
}

.slick-prev i,
.slick-next i {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

@media screen and (prefers-reduced-motion: reduce) {

    .slick-prev-apr i,
    .slick-next-apr i {
        -webkit-transition: none;
        transition: none;
    }
}

.slick-prev-apr {
    margin-top: -85px;
    right: 70px;
}

.slick-next-apr {
    margin-top: -85px;
    right: 7px;
}

.card-apr {
    background-color: #fff;
    height: 566px;
    width: 360px;
    -webkit-box-shadow: 0 0 10px #d7d7d7;
    box-shadow: 0 0 10px #d7d7d7;
    margin-bottom: 120px;
    position: relative;
    text-align: center;
    margin-top: 10px;
}

.card-apr p {
    font-family: montserrat;
    font-size: 20px;
    font-weight: 400;
    color: #666666;
    margin: 25px;
    line-height: 1.6;
}


.card-apr h2 {
    font-family: montserrat-b;
    font-size: 30px;
    color: #0B4279;
    margin: 23px;
    margin-top: 10px;
}

.card-apr img {
    width: 88px;
    height: 88px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: auto;
    display: block;
    z-index: 2;
    position: relative;

}

.card-apr .bottom {
    position: absolute;
    bottom: 45px;
    width: 80%;
    margin-left: 10%;
}

.card-apr .bottom a {
    text-decoration: none;
}

.card-apr .button {
    font-family: montserrat-b;
    font-size: 24px;
    border: 1px solid #0B4279;
    color: #0B4279;
    border-radius: 23px;
    padding: 10px 0px 10px 0px;
}

/* Empreendendorismo */


.content1 {
    margin-top: 150px;
    width: 100%;
    display: inline-flex;
    position: relative;
    margin-bottom: 90px;
}

.content1 h2 {
    font-family: montserrat-b;
    font-size: 20px;
    color: #0B4279;
    margin-bottom: 30px;
    line-height: 1.6;
}

.content1 p {
    font-family: montserrat;
    font-size: 20px;
    color: #666666;
    margin-bottom: 30px;
    padding-right: 50px;
    line-height: 1.4;

}

.content-img {
    margin-left: 96px;

}

.content2 {

    margin-bottom: 140px;
}

.con-card {
    height: auto;
    margin: auto;
    -webkit-box-shadow: 0 0 10px #d7d7d7;
    box-shadow: 0 0 10px #d7d7d7;
}

.con-card img {
    width: 240px;
    height: 240px;
    padding-top: 50px;
    padding-bottom: 30px;
    display: block;
    margin: auto;

}

.con-card h2 {
    font-family: montserrat-b;
    font-size: 24px;
    color: #CAD216;
    padding: 20px;

}

.con-card li {
    list-style-position: inside;
    font-family: montserrat;
    font-size: 20px;
    color: #666666;
    margin-bottom: 20px;
    padding-left: 23px;
    padding-right: 23px;
}

/* Protagonismo do aluno */

.content3 {
    margin-top: 150px;
    width: 100%;
    display: inline-flex;
    position: relative;
    margin-bottom: 130px;
}

.content3 p {
    font-family: montserrat;
    font-size: 20px;
    color: #666666;
    margin-bottom: 30px;
    padding-right: 50px;
    line-height: 1.5;
    letter-spacing: 0.5;
}

.content-img2 {
    margin-left: 32px;

}

.sli-content {

    width: 58%;
    margin-left: 130px;
    float: right;
    display: block;
}

.sli-card {
    display: flex !important;
    height: auto;
    -webkit-box-shadow: 0 0 10px #d7d7d7;
    box-shadow: 0 0 10px #d7d7d7;
    margin-top: 10px;
    margin-left: 2px;
    margin-bottom: 130px;
}

.sli-img {
    max-height: 564px;
}


.sli-content h2 {
    font-family: montserrat-b;
    font-size: 24px;
    text-transform: uppercase;
    color: #0B4279;
    padding-right: 98px;
    margin-top: 40px;
    margin-bottom: 30px;

}

.sli-content p {
    font-family: montserrat;
    font-size: 20px;
    color: #666666;
    padding-right: 98px;
    line-height: 1.6;
    margin-top: 20px;
}

.volume-range {
    transform: rotate(-90deg);
    bottom: 171px;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 166px;
    border-radius: 10px;
    padding: 20px;
    left: 82%;
    position: absolute;
    display: none;
}

div#play_sound {
    height: 100px;
    padding-top: 57px;
}

input[type='range'] {
    cursor: pointer;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

/** 
 * Use o pseudo-seletor "::-webkit-slider-runnable-track" para customizar o "trilho" do campo.
 */
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    /*required for proper track sizing in FF*/
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 10px;
    background: grey;
    border: none;
    border-radius: 3px;
    transition: background 450ms ease-in;
    overflow: hidden;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
    margin-top: -4px;
    box-shadow: -80px 0 0 80px white;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-moz-range-progress {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
    margin-top: -4px;
}

#play_sound:hover .volume-range {
    display: block;
}

.player_sobrevideo {
    display: none;
}

.player_sobrevideo[ref='play'] {
    display: block;
}

#video_frame:hover .player_sobrevideo {
    display: block !important;
}

/* Flexibilidade */

.content-img-full {
    width: 100%;
}

.content5 {
    margin-top: 30px;
    width: 100%;
    position: relative;
    margin-bottom: 130px;
}

.content5 p {
    font-family: montserrat;
    font-size: 20px;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.5;
    letter-spacing: 0.8px;

}

.content5 h2 {
    font-family: montserrat-b;
    font-size: 24px;
    color: #00A3E7;
    margin-bottom: 30px;

}

.content5 .left {
    float: right;
    padding-bottom: 100px;
    border-bottom: 1px solid #BEC8D1;
}

.content5 .left img {
    float: left;
    margin: auto;
    margin-left: 32px;
}

.content5 .right {
    float: left;
    margin-top: 100px;
}

.content5 .right img {
    float: right;
    margin-right: 64px;
}

.content5 .left h2 {
    padding-left: 34%;
    padding-right: 5%;
}

.content5 .left p {
    padding-left: 34%;
    padding-right: 5%;
}

.content5 .right h2 {
    padding-left: 5%;
}

.content5 .right p {
    padding-left: 5%;
    padding-right: 38%;

}

.left:last-child {
    float: none;
    border-bottom: none;
}

.content5 .tipos {
    display: inline-flex !important;
    margin: auto;
    margin-bottom: 90px;
}

.content5 .tipo {
    margin-top: 60px;
    margin-right: 32px;
    position: relative;
    height: auto;
}

.content5 .tipo h2 {
    font-family: montserrat-b;
    font-size: 30px;
    color: #0B4279;
    margin-top: 27px;
    margin-bottom: 27px;
}

.content5 .tipo p {
    margin-bottom: 20px;
}

/* Formação de Formadores */

.content5.form .left:last-child {
    margin-top: 100px;
    float: left;
}

.content5.form h2 {
    color: #19A78D;
    margin-top: 5%;
}

.content5.form .right {
    float: left;
    margin-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #BEC8D1;
}

.clearfix {
    overflow: auto;
}

.promover {
    display: flex;
    margin-bottom: 130px;
}

.promover .circle1,
.promover .circle2,
.promover .circle3 {
    background-image: url("../img/bg_circle_green.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 398px;
    height: 398px;
    position: relative
}

.promover .circle1 {
    margin-right: -25px;
    ;
}

.promover .circle3 {
    margin-left: -25px;
}

.promover .inner-circle {
    border-radius: 50%;
    width: 345px;
    height: 345px;
    margin-top: 28px;
    margin-left: 28px;
}



.promover .inner-circle h2 {
    font-family: montserrat-m;
    font-size: 26px;
    font-weight: 100;
    color: #666666;
    margin: 0;
    text-align: center;


}

/*
.promover .inner-circle .text {
  color: white;
  position: relative;
  margin: 0;
}
.promover .inner-circle .text::before {
  content: "";
  float: left;
  height: 100%;
  width: 50%;
  shape-outside: polygon(
    0 0,
    98% 0,
    50% 6%,
    23.4% 17.3%,
    6% 32.6%,
    0 50%,
    6% 65.6%,
    23.4% 82.7%,
    50% 94%,
    98% 100%,
    0 100%
  );
  shape-margin: 7%;
}

.text h2::before {
  content: "";
  width: 50%;
  height: 100%;
  float: right;
  shape-outside: polygon(
    2% 0%,
    100% 0%,
    100% 100%,
    2% 100%,
    50% 94%,
    76.6% 82.7%,
    94% 65.6%,
    100% 50%,
    94% 32.6%,
    76.6% 17.3%,
    50% 6%
  );
  shape-margin: 7%;
} */

.promover .circle1 h2 {
    position: absolute;
    width: 160px;
    top: 160px;
    left: 120px;
}

.promover .circle2 h2 {
    position: absolute;
    width: 220px;
    top: 115px;
    left: 90px;
}

.promover .circle3 h2 {
    position: absolute;
    width: 280px;
    top: 80px;
    left: 65px;
}



/* Inovação */
/*

.inova img{width: 100%;}
*/

.inova {
    /*            background-image: url('img/inova-temp.png');
            background-position: center;
            background-image: url('../img/bg_infografico.png');
            height:1401px;
        */
}

.inova img {
    width: 100%;
}

.group-circles {
    position: relative;
    left: 0 !important;
    padding-left: 28%;
}

.circle_base {
    position: absolute;
    width: 43%;
    height: 589px;
    /* border-radius: 50%; */
    /* border: 33px solid #B11433; */
    /* background-image: linear-gradient(white, #ECEDED); */
    /* box-shadow: inset 0 0 0 8px #D9D6D6; */
    z-index: 2;
    top: 419px;
    background-image: url('../img/back_base_graphic.png');
    background-size: cover;
    /* border: 0px solid; */
}

.circle {
    position: absolute;
    width: 26%;
    height: 365px;
    background-image: url('../img/back_grafico.png');
    z-index: 1;
    background-position: left;
    /* left: 51%; */
    background-size: contain;
    background-repeat: no-repeat;
}

.circle .circle_conteudo {
    position: absolute;
    /* left: 40%; */
    top: 20%;
    text-align: center;
    width: 98%;
    font-family: montserrat;
    color: #666666;
    left: 14%;
    font-size: 19px;
    width: 80%;
}

.circle_base .circle_conteudo {
    position: absolute;
    /* left: 40%; */
    top: 20%;
    text-align: center;
    width: 98%;
    font-family: montserrat;
    color: #666666;
    left: 14%;
    font-size: 19px;
    width: 80%;
}

.group-circles .circle:nth-child(2) {
    top: 119px;
    left: 36%;
}

.group-circles .circle:nth-child(3) {
    top: 286px;
    left: 61%;
}

.group-circles .circle:nth-child(4) {
    top: 649px;
    left: 67%;
}

.group-circles .circle:nth-child(5) {
    top: 940px;
    left: 50%;
}

.group-circles .circle:nth-child(6) {
    top: 941px;
    left: 23.3%;
}

.group-circles .circle:nth-child(7) {
    top: 650;
    left: 6%;
}

.group-circles .circle:nth-child(8) {
    top: 287px;
    left: 12%;
}



/*Referentes ao player de video*/

.player_sobrevideo {
    position: absolute;
    left: 50%;
    top: 36%;
    opacity: 0.3;
}

.modal p {
    padding-top: 15px;
}

.modal h2 {
    font-family: montserrat-b;
    font-size: 30px;
    font-weight: 700;
    color: #C61F40;
    margin-top: 30px;
}

.modal {
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 20%;
    opacity: 0;
    transform: translate(-50%, -20%);
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    width: 70%;
    background-color: white;
    font-family: montserrat;
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    list-style-position: inside;
    margin-top: 25px;
    margin-bottom: 25px;
    bottom: 0px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);

}

.modal-body {
    overflow: scroll;
    height: 100%;
    overflow-x: hidden;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.icone_foguete_mob {
    display: none;
}

.fechar {
    position: absolute;
    width: 30px;
    right: -15px;
    top: -20px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #c61f40;
    border-radius: 50%;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.dna .slick-dots {
    bottom: 83px !important;
    /* bottom: 83px; */
}

.studies .slick-dots {
    bottom: 83px !important;
    /* bottom: 83px; */
}

.height_auto {
    height: auto;
}

.height_200 {
    height: 200px;
}

.circles_emp h3 {
    font-family: montserrat-b;
    font-size: 28px;
    text-align: center;
    color: #0B4279;
    margin-bottom: 30px;

}

img#top_arrow {
    position: fixed;
    right: 2%;
    top: 80%;
    opacity: 0.4;
    display: none;
    cursor: pointer;
}

img#top_arrow:hover {
    opacity: 1;
}

@media screen and (max-width: 1143px) and (min-width: 769px) {
    .pilares:nth-child(odd) {
        margin-top: -17vh !important
    }

    .pilares:nth-child(even) {
        margin-top: -17vh !important
    }

    .pilares:nth-child(5) {
        margin-top: 0vh !important
    }

    .icone_foguete {
        left: -318px;
    }
}